.inputArea {
    text-align: center;
    margin-top: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.item {
    margin: 5px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}